<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Главная</title>
</head>

<body>
    <div class="infodiv" id="info">
        <table>
            <td>
                Наименование
            </td>
            {% for category in categories %}
                <tr>
                    <td> {{ category['category_name'] }} </td>
                    <td>
                        <form action="/purchase/products" method="POST">
                            <input type=hidden name="category_id" value="{{ category['category_id'] }}">
                            <input type="submit" value="Посмотреть продукты">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form action="/purchase/basket" method="GET">
                    <td>
                        <input type="submit" value="Перейти в корзину">
                    </td>
                </form>
            </tr>
        </table>
        <form action="/">
            <tr>
                <td>
                    <input type="submit" value="Вернуться на главную">
                </td>
            </tr>
        </form>
    </div>
    {% if message %}
        <div class="errordiv" id="error">
            {{ message }}
        </div>
    {% endif %}
</body>
</html>
