<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Регистрация и авторизация</title>
</head>

<body>
    <div class="infodiv" id="info">
        <table>
            <form action="/auth/sign-up">
                <tr>
                    <td style="padding: 0;">
                        <input type="submit" value="Зарегистрироваться">
                    </td>
                </tr>
            </form>
            <form action="/auth/sign-in">
                <tr>
                    <td style="padding: 0;">
                        <input type="submit" value="Войти">
                    </td>
                </tr>
            </form>
            <form action="/">
                <tr>
                    <td style="padding: 0;">
                        <input type="submit" value="Вернуться на главную">
                    </td>
                </tr>
            </form>
        </table>
    </div>
</body>

</html>