<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Варианты поиска</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div>
        <table>
            <tr>
                <th colspan="3">Меню поиска</th>
            </tr>
            <tr>
                <td>
                    <a href="/selects/search/search-by-name">Поиск по категории</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/selects/search/search-by-price">Поиск по цене</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/selects/search/search-by-date">Поиск по дате</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/selects">Назад</a>
                </td>
            </tr>
        </table>

        <div class="row mt-3">
            <div class="col">
                <form action="/">
                    <button type="submit" class="btn btn-primary">Вернуться на главную</button>
                </form>
            </div>
        </div>
    </div>
</body>


</html>